/* ====== Colors ======= */
$primary-dark-color: #0b0c17;
$primary-red-color: #ff3571;
$primary-gray-color: #dddddd;
$primary-blue-color: #3C30FF;
$white-color: #FFF;

/* ====== Font ====== */
$font-family: 'Roboto';

$primary-font-size: clamp(4.2rem, 5vw, 7rem);
$h2_font-size: clamp(4rem, 4vw, 5.5rem);
$secondary-font-size: 1.9rem;
$smaller-font-size: 1.4rem;

$smartphone-font_h1_h2: clamp(2.4rem, 5vw, 4.2rem); 

/* ====== Margin ====== */
$primary-margin: 7vw;



